spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://gitee.com/spring_cloud_ordering_service/config-repo.git
          username: 754576021@qq.com
          password: bgkp108512
          basedir: /e/Users/bgkp/IdeaProjects/config/basedir #±¾µØgit²Ö¿â
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
